h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: WHITE;
    text-align: center;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
    font-size: 80px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: WHITE;
    text-align: center;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
    font-size: 30px;
}

.productos {
    display: grid;
    /*grid-template-columns: repeat(3, 500px);*/
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 30px;
    column-gap: 50px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    justify-content: space-between;
}

.buttons {
    vertical-align: bottom;
}

.foto {
    max-height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.botonCarrito {
    position: fixed;
    z-index: 100;
    right: 40px;
    bottom: 45px;
    size: large;
    color: gray;
    background-color: lightblue;
    border-radius: 35px;
}
