h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: WHITE;
    text-align: center;
    text-shadow: .1em .1em 0 hsl(200 50% 30%);
    font-size: 80px;
    
}


.productos {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    
}


